.pageDetails {
  width: 375px;
  height: 100vh;
  position: relative;

  .pageDetails-headerContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    width: 376px;
    height: 282px;
    position: relative;

    background: url('../../assets/detailed-background.svg') no-repeat;
    background-color: #FFF6E5;
    border-radius: 0px 0px 33% 0px;

    margin-bottom: 67px;

    button {
      background: none;
      border: none;
      margin-left: 33px;
      margin-top: 55px;
    }

    .pageDetails-thumbnailBook {
      position: absolute;
      width: 153px;
      height: 229px;

      bottom: -31px;
      left: 111px;
      border-radius: 5px;
    }
  }

  .pageDetails-infoContainer {
    width: 100%;
    padding: 0px 20px;
    padding-bottom: 125px;

    h1 {
      font-family: SF Pro Display;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 1.5px;

      color: #36383A;
      margin-bottom: 7px;
    }

    h2 { 
      font-family: SF Pro Display;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.670588px;

      color: #FF6978;
      margin-bottom: 10px;
    }

    p {
      font-family: SF Pro Display;
      font-size: 14px;
      line-height: 25px;

      letter-spacing: 0.2px;

      color: rgba(49, 49, 49, 0.6);
    }
  }

  .pageDetails-bottomFloatingMenu {
    background: #FFFFFF;
    box-shadow: 3px 3px 23px rgba(107, 103, 70, 0.125901);
    border-radius: 2px;
    width: 335px;
    height: 56px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 53px;

    :nth-child(1) {
      img {
        margin-left: 0px;
      }
    }

    a {
      display: flex;
      text-decoration: none;
      gap: 10px;
      
      img {
        margin-left: 26px;
      }

      p{
        font-family: SF Pro Display;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;

        letter-spacing: 1px;
        text-decoration: none;

        color: #3F4043;
      }

      & + a {
        border-left: 1px solid rgba(151, 151, 151, 0.2);
      }
    }

    @media(max-width: 376px) {
      & {
        left: 20px;
      }
    }
  }
}