.pageHome-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 375px;
  padding-left: 20px;
  padding-right: 20px;

  h2 {
    font-size: 18px;
    font-weight: 400;
    color: #3F4043;
  }
  
  button {
    color: #4ABDF1;
    border: none;
    background: none;
    outline: none;
  }

  .pageHome-welcomeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    margin-bottom: 30px;

    h1 {
      font-weight: 400;
      color:#54565A;

      strong {
        color: #FF6978;
      }
    }
  }

  .pageHome-discoverContainer {
    margin-bottom: 30px;

    .pageHome-discoverTitle {
      display: flex;
      align-items:center;
      justify-content: space-between;
      margin-bottom: 15px;
      max-width: 335px;


    }

    .pageHome-discoverCarousel{
      max-width: 375px;
      
      .swiper-wrapper {
        .swiper-slide.swiper-slide-active {
          width: 271.667px !important;
          margin-right: 10px;
        }
  
        .swiper-slide.swiper-slide-next,
        .swiper-slide.swiper-slide-prev {
          .discoverCard-container {
            height: 129px;
            margin-top: 5px;
          }
        }
      }
    }

  }

  .pageHome-currentlyReadingContainer {
    width: 100%;

    .pageHome-currentlyReadingTitle {
      display: flex;
      align-items:center;
      justify-content: space-between;
      margin-bottom: 15px;


    }

    .pageHome-currentlyReadingCard {
      display: flex;
      align-items: center;
      position: relative;
      gap: 8px;
      margin-bottom: 26px;

      .pageHome-currentlyReadingCardBackground {
        z-index: 1;
        width: 331px;
        height: 100px;
        position: absolute;
        top: 17px;
        background: #EEF5DB;
      }

      img {
        z-index: 1000;
      }

      .pageHome-currentlyReadingTitleBook {
        z-index: 1000;
        h1 {
          color: #2A2B26;
          font-family: Playfair Display;
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 27px;

          letter-spacing: 2px;
        }

        h2 {
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 10px;
          line-height: 12px;
          color: #74776D;
          margin-bottom: 26px;
        }
        
        div {
          display: flex;
          align-items: center;

          font-family: SF Pro Display;
          font-style: normal;
          font-weight: normal;
          font-size: 10px;

          color: #2A2B26;

          img {
            margin-right: 5px;
          }

          strong {
            color: #FF6978;
            margin: 0 2px 0 2px;
          }
        }
      }
    }
  }

  .pageHome-reviewsOfTheDays {
    width: 100%;
    margin-bottom: 20px;
    .pageHome-reviewsOfTheDaysTitle {
      display: flex;
      align-items: center;
      justify-content: space-between;

      margin-bottom: 15px;
    }

    .pageHome-reviewsOfTheDaysCard {
      background: #FFFFFF;
      box-shadow: 0px 2px 4px rgba(229, 229, 229, 0.5);
      border-radius: 5px;

      div {
        width: 100%;
        padding: 15px 12px;

        h2 {
          font-family: SF Pro Display;
          font-weight: bold;
          font-size: 12px;
          line-height: 14px;

          color: rgba(49, 49, 49, 0.8);
        }
      }

      .pageHome-reviewsOfTheDaysCardInfoContainer {
        padding: 6px 0px;
        
        font-family: Roboto;
        font-weight: normal;
        font-size: 8px;
        line-height: 9px;

        color: rgba(106, 103, 103, 0.8);

        display: flex;
        align-self: flex-start;
        gap: 22px;

        ul {
          display: flex;

          ::marker {
            color: #6A6767;
          }

          > li {
            margin-right: 16px;
          }
        }
      }

      p {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 12px;

        color: rgba(107, 107, 107, 0.8);
      }
    }
  }
}