*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @media (max-width: 1080px){
    font-size: 93.75%;
  }

  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  
  background: #FFFCF9;
  -webkit-font-smoothing: antialised;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  max-width: 90%;
  margin: 50px auto;
}

button {
  cursor: pointer;
}

::placeholder { 
  color: #54565A;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #54565A;
}

::-ms-input-placeholder { 
  color: #54565A;
}

[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}